<!doctype html>
<html>
<title>RSVP App!</title>
<body>
<div align="center" >
<h3><font color="maroon"> Host Name: {{ hostname }} </font>
<font size="8" >
 
</font> </h3>
</div>
<div align="center">
<form action="/new" method='POST'>
<h2><a href="http://www.meetup.com/cloudyuga/"> CloudYuga Garage RSVP! </a></h2> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


Name: <input type="text" name="name">
<br>
<br> 
 Email: <input type="text" name="email">
<br>
<br>
<button type="Submit" onclick="alert('RSVP Succeeded!')" align="center" name="submit">Submit</button>
</form>

<h3> RSVP Count : {{counter}} </h3>
{% for item in items %}


<p align="center"><a align="right">{{ item.name }} </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a align="right">{{ item.email }}</a></p>
{% endfor %}
</div>


<div align="center">
<form action="/csvdata" method='GET'>
<button type="Submit" align="center" name="submit">Download JSON</button>
</form>
</div>
</body>
</html>
